[core]
        pager = less
        ; https://git-scm.com/docs/git-config#Documentation/git-config.txt-corequotePath
        quotepath = false
        editor = vim
        excludesfile = ~/.gitignore
        attributesfile = ~/.gitattributes
[init]
        defaultBranch = main
[pull]
        ; rebase = false # merge (the default strategy)
        ; rebase = true  # rebase
        ff = only # fast-forward only
[fetch]
        prune = true
[push]
        default = current
[merge]
        conflictstyle = diff3
[alias]
        co = checkout
        br = branch
        st = status
        d  = diff
        l  = log --oneline
        la = log --oneline --all
        loggraph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
        stash-list = stash list --pretty=format:'%gd: %C(yellow)%h%Creset %s'
        p      = pull
        unstage = restore --staged
        undo   = reset HEAD~1
        alias  = config --get-regexp ^alias
[ui]
        color = true
